$primary: #21232a;
$secondary: #61dafbaa;
$third: beige;
.fC {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    justify-content: center;
    button {
      padding: 0.4rem 5rem;
      background-color: $secondary;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 5px 2px #444;
      &:hover {
        color: #21232a;
        background-color: #61dafbaa;
        border-radius: 1rem;
        transition: 0.3s;
      }
    }
    input {
      width: 100%;
      height: 2rem;
      padding: 0.5rem;
      outline: none;
    }
    label {
      margin: 6px;
      font-size: larger;
      font-weight: 700;
    }
    textarea {
      padding: 10px;
      width: 100%;
    }
  }
}
