$primary: #21232a;
$secondary: #61dafbaa;
$third: beige;

.docs {
  height: 600px;
  display: flex;

  .rightContainer {
    padding: 2rem 2rem;
    text-align: justify;
    width: 70%;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    .docContainer {
      margin: 2rem;
      h2 {
        text-align: center;
        margin: 1rem;
        &:hover {
          color: $secondary;
          text-decoration: underline;
        }
      }
    }
  }
}
