$primary: #21232a;
$secondary: #61dafbaa;
$third: beige;

.docs {
  .rightContainer {
    margin: 0 auto;
    padding: 2rem 2rem;
    text-align: justify;
    width: 70%;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    .docContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2rem;

      h2 {
        text-align: center;
        margin: 1rem;
        &:hover {
          color: $secondary;
          text-decoration: underline;
        }
      }
    }
  }
}
