$primary: #21232a;
$secondary: #61dafbaa;
$third: beige;
.textPublicity {
  box-shadow: 0 0 30px 5px $primary;
  background-color: $third;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 500px;
  border-radius: 3rem;
  h1 {
    color: $secondary;
  }
  .animatedBtn {
    background-color: rgb(192, 43, 43);
    box-shadow: 0 0 20px 5px #444;
    padding: 0.5rem 1.3rem;
    border: none;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 3rem;
  }
}
