$primary: #21232a;
$secondary: #61dafbaa;
$third: beige;
.searched {
  color: #097c99aa;
  text-decoration: underline;
  font-weight: 800;
  font-style: italic;
}
.rootcontainer {
  display: grid;
  grid-template-rows: 100px 1fr 120px;

  & > :nth-child(2) {
    display: flex;
    height: calc(100vh - 220px);
    overflow: hidden;
  }
  .publicity {
    width: 30%;
    padding: 3rem;
    transform: translateX(100%);
    @media (max-width: 1525px) {
      display: none;
    }

    &.show {
      animation: 500ms showCard ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  .footer {
    position: relative;
  }
}
@keyframes showCard {
  0% {
    transform: translateX(100%);
  }
  85% {
    transform: translateX(-5%);
  }
  90% {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}
