$primary: #21232a;
$secondary: #61dafbaa;
$third: beige;
.searched {
  color: #097c99aa;
  text-decoration: underline;
  font-weight: 800;
  font-style: italic;
}
.rootcontainer {
  & > :nth-child(2) {
    display: flex;
    height: 760px;
  }
  .publicity {
    width: 30%;
    padding: 3rem;
  }
}
