$primary: #21232a;
$secondary: #61dafbaa;
$third: beige;
.tutorials {
  width: 100%;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  align-items: center;
  justify-items: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .iframeVideo {
    width: 550px;
    aspect-ratio: 55/32;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  .textVideo {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  .likeIcons {
    &:hover {
      cursor: pointer;
    }
  }
  .liked {
    &:hover {
      color: $secondary;
    }
  }
  .disliked {
    &:hover {
      color: red;
    }
  }
  .counter {
    color: red;
  }
}
